<template>
  <q-page class="row justify-evenly">
    <div class="full-width q-px-md">
      <div class="row wrap">
        <div class="col-xs-12 col-md-7">
          <h5 style="margin-bottom: 10px; margin-top: 15px">Signature Preview</h5>
          <div style="text-align: center">
            <div style="text-align: left; margin: auto; width: fit-content">
              <signature-component id="signature" :profile-image="profileImageAsData" :name="name" :job-title="jobTitle"
                :tel1="tel1" :tel2="tel2" :email="email" :address="address" :address2="address2" :linkedin="linkedin"
                :twitter="twitter" :facebook="facebook" :instagram="instagram"
                :free-text="freeText"></signature-component>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-5">
          <HelpPanel />
        </div>
        <div class="col-xs-12">
          <h5 class="q-my-md">Informations</h5>
          <div class="row wrap q-col-gutter-xs">
            <div class="col-4">
              <q-btn style="width: 100%; height: 100%" outline color="primary" @click="openDialog = true">Select Profile
                Picture</q-btn>
            </div>
            <div class="col-4">
              <q-input outlined v-model="name" label="Name" dense />
            </div>
            <div class="col-4">
              <q-input outlined v-model="jobTitle" label="Job title" dense />
            </div>
            <div class="col-6">
              <q-input outlined v-model="email" label="Email" dense />
            </div>
            <div class="col-3">
              <q-input outlined v-model="address" label="Address" dense />
            </div>
            <div class="col-3">
              <q-input outlined v-model="address2" label="Address (cont)" dense />
            </div>
            <div class="col-6">
              <q-input outlined v-model="tel1" label="Tel 1" dense />
            </div>
            <div class="col-6">
              <q-input outlined v-model="tel2" label="Tel 2" dense />
            </div>
            <div class="col-3">
              <q-input outlined v-model="linkedin" label="Linkedin" dense />
            </div>
            <div class="col-3">
              <q-input outlined v-model="twitter" label="Twitter" dense />
            </div>
            <div class="col-3">
              <q-input outlined v-model="facebook" label="Facebook" dense />
            </div>
            <div class="col-3">
              <q-input outlined v-model="instagram" label="Instagram" dense />
            </div>
            <div class="col-12">
              <q-input type="textarea" autogrow outlined v-model="freeText" label="Free Bottom Text" dense />
            </div>
            <div class="col-12 q-mb-xl">
              <q-btn style="width: 100%" color="primary" @click="copyDOM('signature')">Copy Signature</q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <span style="font-family: RalewayBold"></span>
      <span style="font-family: RalewayBlack"></span>
      <span style="font-family: RalewayLight"></span>
      <span style="font-family: RalewayRegular"></span>
      <span style="font-family: RalewayMedium"></span>
      <span style="font-family: RalewaySemiBold"></span>
    </div>
    <profile-picture-cropper-dialog v-model:open="openDialog" @confirm-picture="assignPic" />
  </q-page>
</template>

<script lang="ts" setup>
import { useQuasar } from 'quasar'
import SignatureComponent from 'src/components/SignatureComponent.vue'
import HelpPanel from 'src/components/HelpPanel.vue'
import { ref } from 'vue'
import ProfilePictureCropperDialog from 'src/components/ProfilePictureCropperDialog.vue'

const $q = useQuasar()
const openDialog = ref(false)

const profileImageAsData = ref('')
const name = ref('[First name Family name]')
const jobTitle = ref('[Job Title]')
const tel1 = ref('[phone number 1]')
const tel2 = ref('[phone number 2]')
const email = ref('[email address]')
const address = ref('[address]')
const address2 = ref('[second line of the address]')
const linkedin = ref('')
const twitter = ref('')
const facebook = ref('')
const instagram = ref('')
const freeText = ref('')

function assignPic(imageAsData: string): void {
  profileImageAsData.value = imageAsData
}

function copyDOM(nodeId: string) {
  const node = document.getElementById(nodeId)
  const selection = window.getSelection() as Selection
  const range = document.createRange()
  range.selectNodeContents(node as Node)
  selection.removeAllRanges()
  selection.addRange(range)

  document.execCommand('copy')
  selection.empty()
  $q.notify({ type: 'positive', color: 'teal-10', message: 'Copied signature' })
}
</script>
