<template>
  <q-btn outline size="sm" class="q-mt-md" @click="switchPanelDisplayState">{{
    buttonLabel
  }}</q-btn>
  <div v-show="displayHelp">
    <h5 class="q-my-md">
      How to use &amp; add the copied signature to Outlook Web
    </h5>
    <div style="text-align: center">
      <div style="text-align: left; margin: auto; width: fit-content">
        To create your signature:
        <ol>
          <li><span class="bold">Fill the fields</span> of the form</li>
          <li><span class="bold">Select a profile picture</span>, crop and then validate it</li>
          <li>
            When you're satisfied with the signature, <span class="bold">click on the "Copy signature" button</span>
          </li>
        </ol>
        In Outlook Web:
        <ol>
          <li>Click on the cog button in the app bar (top of the screen)</li>
          <li>Click "Display all settings" (bottom right of the screen)</li>
          <li>In the search field, type "signature" to find "Electronic signature"</li>
          <li>
            Create a new one, name it, and paste what you copied via the "Copy signature"
            button
          </li>
          <li>Save it. By default, it should now appear in all new emails.</li>
        </ol>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.bold {
  font-weight: bold;
  color: $primary;
}
</style>
<script setup>
import { ref } from 'vue'
const displayHelp = ref(true)
const buttonLabel = ref('Hide help')

function switchPanelDisplayState() {
  displayHelp.value = !displayHelp.value
  buttonLabel.value = displayHelp.value ? 'Hide help' : 'Display help'
}
</script>
