<template>
  <q-dialog :model-value="props.open" persistent>
    <q-card style="width: 600px; height: 600px">
      <q-card-section>
        <span>Select a file, then crop it.</span>
        <q-file v-model="file" label="Pick one file" outlined style="width: 100%" @click="cropping = false" />
        <div style="text-align: center">
          <div id="cropper-wrapper"
            style="display: block; max-height: 400px; max-width: 100%; width: fit-content; margin: auto"
            v-if="cropping">
            <img id="image-to-crop" />
          </div>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" @click="cancel" />
        <q-btn flat label="Confirm" color="primary" @click="confirmPicture" />
      </q-card-actions>

      <img src="~assets/pp_frame.png" id="imageBorder" style="display: none" />
    </q-card>
  </q-dialog>
</template>

<style>
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}
</style>

<script setup lang="ts">
import Cropper from 'cropperjs'
import 'cropperjs/dist/cropper.css'
import { useQuasar } from 'quasar'
import { Ref, ref, watch, defineProps, defineEmits, nextTick } from 'vue'

const $q = useQuasar()
const emit = defineEmits(['update:open', 'confirmPicture'])

const props = defineProps({
  open: {
    type: Boolean,
    required: true
  }
})

const file = ref() as Ref<File>
const cropping = ref(false)

let cropper = null as any

function loadCropper() {
  const imgEl = document.querySelector('#image-to-crop') as HTMLImageElement
  if (!imgEl) return

  cropper = new Cropper(imgEl, {
    aspectRatio: 1,
    viewMode: 1
  })
}

function getRoundedCanvas(sourceCanvas: HTMLCanvasElement): HTMLCanvasElement {
  const canvas = document.createElement('canvas')
  const context = canvas.getContext('2d') as CanvasRenderingContext2D
  const width = 130
  const height = 130

  canvas.width = width
  canvas.height = height
  context.imageSmoothingEnabled = true
  context.drawImage(sourceCanvas, 0, 0, width, height)

  const borderImage = document.querySelector('#imageBorder') as HTMLImageElement
  context.drawImage(borderImage, 0, 0, width, height)

  context.globalCompositeOperation = 'destination-in'
  context.beginPath()
  context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true)
  context.fill()

  return canvas
}

function getCroppedImage() {
  if (!cropper) return null

  const croppedCanvas = cropper.getCroppedCanvas()
  const roundedCanvas = getRoundedCanvas(croppedCanvas)
  return roundedCanvas.toDataURL('image/png')
}

function confirmPicture() {
  const imageAsData = getCroppedImage()
  emit('confirmPicture', imageAsData)
  emit('update:open', false)
  $q.notify({ type: 'positive', color: 'teal-10', message: 'Confirmed a new profile picture' })
}

function cancel() {
  emit('update:open', false)
}

watch(file, () => {
  if (file.value) {
    cropping.value = true
    nextTick(() => {
      const imgEl = document.querySelector('#image-to-crop') as HTMLImageElement
      if (!imgEl) return

      const reader = new FileReader()
      reader.onload = (e) => {
        if (!e.target) return
        imgEl.src = e.target.result as string
        loadCropper()
      }
      reader.readAsDataURL(file.value)
    })
  }
})
</script>
