<template>
  <table width="700" height="300" style="max-width: 100%; table-layout: fixed">
    <tr>
      <td width="150" height="180">
        <img style="padding-top: 10px" v-if="profileImage" :src="profileImage" />
      </td>
      <td>
        <table style="width: 100%; height: 100%;">
          <!-- Name, job title, V logo -->
          <tr>
            <td style="font-size: 30px; height: 28px"> {{ name }} </td>
            <td rowspan="2" width="77">
              <img width="77" style="margin: 0px; padding: 0px; vertical-align: top; width: 77px;"
                src="~assets/logoV.png" />
            </td>
          </tr>
          <tr>
            <td>
              <span style="font-size: 12px">{{ jobTitle }}, </span><span
                style="font-size: 13px; font-weight: bold">VAGANET Group</span>
            </td>
          </tr>
          <!-- separator -->
          <tr>
            <td style="line-height: 2px" colspan="2">
              <img src="~assets/separator.png" style="
                  margin: 0px;
                  padding: 0px;
                  vertical-align: top;
                  height: 2px;
                  width: 100%;
                " />
            </td>
          </tr>
          <!-- Infos row 1 -->
          <tr>
            <td colspan="2">
              <table style="width: 100%; height: 100%">
                <tr>
                  <td width="33%">
                    <span style="font-size: 12px; font-weight: bold;">M : </span>
                    <a :href="'tel:' + tel1" style="font-size: 12px;">{{ tel1 }}</a>
                  </td>
                  <td>
                    <span style="font-size: 12px; font-weight: bold;">E : </span>
                    <a :href="'mailto:' + email" style="font-size: 12px;">{{ email }}</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- Infos row 2 -->
          <tr>
            <td colspan="2">
              <table style="width: 100%; height: 100%">
                <tr>
                  <td width="33%" v-if="tel2 != ''">
                    <span style="font-size: 12px; font-weight: bold;">M : </span>
                    <a :href="'tel:' + tel2" style="font-size: 12px;">{{ tel2 }}</a>
                  </td>
                  <td v-if="address != ''" style="line-height: normal">
                    <span style="font-size: 12px; font-weight: bold;">A : </span>
                    <a target="_blank" :href="'http://maps.google.com/?q=' + address + ' ' + address2"
                      style="font-size: 12px;">
                      {{ address }}
                    </a>
                    <div style="padding-left: 17px">
                      <a target="_blank" :href="'http://maps.google.com/?q=' + address + ' ' + address2"
                        style="font-size: 12px;">
                        {{ address2 }}
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- Social icons & website link -->
          <tr>
            <td colspan="2">
              <table style="width: 100%; height: 100%">
                <tr>
                  <td width="35%">
                    <a v-if="linkedin && linkedin.length > 0" :href="linkedin" target="_blank"
                      style="padding-right: 6px">
                      <img src="~assets/linkedin_icon.png" />
                    </a>
                    <a v-if="twitter && twitter.length > 0" :href="twitter" target="_blank" style="padding-right: 6px">
                      <img src="~assets/twitter_icon.png" />
                    </a>
                    <a v-if="facebook && facebook.length > 0" :href="facebook" target="_blank"
                      style="padding-right: 6px">
                      <img src="~assets/facebook_icon.png" />
                    </a>
                    <a v-if="instagram && instagram.length > 0" :href="instagram" target="_blank"
                      style="padding-right: 6px">
                      <img src="~assets/instagram_icon.png" />
                    </a>
                  </td>
                  <td class="website-capsule">
                    <a href="http://www.vaganet.fr" target="_blank">
                      <img src="~assets/website_capsule.png" title="http://www.waganet.fr" alt="http://www.waganet.fr"
                        style="vertical-align: bottom" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr height="71">
      <td height="71" colspan="2" class="bottom">
        <img src="bottom_white.png" style="vertical-align: bottom; width: 100%"
          title="Vaganet Group, Best Workplace et Ecovadis" alt="Vaganet Group, Best Workplace et Ecovadis" />
      </td>
    </tr>
    <tr>
      <td colspan="2" style="font-style: italic; font-size: 12px; padding-top: 5px">
        N'oubliez pas de protéger la nature. Imprimez cet email seulement si c’est
        nécessaire et pensez à recycler votre papier.
      </td>
    </tr>
    <tr v-if="freeText != ''">
      <td colspan="2" style="font-size: 12px; padding-top: 10px"
        v-html="freeText.replace(/\n/g, '<br>').replace(/ /g, '&nbsp;')"></td>
    </tr>
  </table>
</template>

<style lang="scss">
body {
  color: #1c203b;
}

.bottom {
  padding: 0px;
}

.website-capsule {
  text-align: right;
}

table {
  /* outline: 1px solid purple; */
  border-collapse: collapse;
  border-spacing: 0px;
}

td {
  /* outline: 1px solid red; */
  vertical-align: top;
}
</style>

<script lang="ts" setup>

const props = defineProps({
  profileImage: {
    type: String,
    required: true
  },
  name: {
    type: String,
    required: true
  },
  jobTitle: {
    type: String,
    required: true
  },
  tel1: {
    type: String,
    required: true
  },
  tel2: {
    type: String,
    required: true
  },
  email: {
    type: String,
    required: true
  },
  address: {
    type: String,
    required: true
  },
  address2: {
    type: String,
    required: true
  },
  linkedin: {
    type: String
  },
  twitter: {
    type: String
  },
  facebook: {
    type: String
  },
  instagram: {
    type: String
  },
  freeText: {
    type: String,
    required: true
  }
})
</script>
